$offset: 90px
.slider-section
  // padding-bottom: 56px
  .lSSlideOuter
    padding-top: $offset
    margin-top: -1 * $offset
  .lSSlideWrapper
    overflow: visible
    margin-bottom: 56px
  .lSAction
    width: 110px
    top: -1 * $offset
    left: auto
    right: 0px
  .lSPrev, .lSNext
    margin: 0
    transform: translateY(0%)
  .head-section
    display: flex
  h2,
  h3
    text-align: left
    margin: 0
  h2
    display: flex
    span
      display: inline-block
      margin: auto 0
  .btn
    width: 270px
  .btn-container
    margin: auto
    margin-right: 0
  .stab-arrow
    width: 140px
