+popup-template(1, '') 
	.form-default
		h3 ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
		.popup-hint Оставьте заявку, и мы свяжемся с вами в ближайшее время
		.form
			.input-box
				label Ваше имя*
				input.input-decorate(type="text")
			.input-box
				label Номер телефона*
				input.input-decorate.phone-mask-choise(type="text" id="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
			.ion
			.checkbox.agreement
				label Согласен (на) на обработку 
					a(href="#") персональных данных 
					input(type="checkbox" checked)
					span
			+inputSubmit('отправить', 'btn--blue', 'col-12')