+popup-template(0, 'menu-hamburger')
.menu-mobile
	nav.popup-nav
		ul.ln
				li 
					a(href="#") Аренда яхт и катеров
						i 
				li 
					a(href="#") МАРШРУТЫ
				li 
					a(href="#") wake Dubai
				li 
					a(href="#") Дополнительные услуги
						i
				li 
					a(href="#") о компании
						i
					ul 
						li 
							a.back-link(href="#") о компании
								i
						li 
							a(href="#") О нас 
						li 
							a(href="#") Блог
						li 
							a(href="#") О нас 
						li 
							a(href="#") Блог
				li 
					a(href="#") отзывы
				li 
					a(href="#") контакты
	.search-main 
		input.input-search(type="text" placeholder="Поиск")
		.search-ico
	.menu-footer
		.menu-footer-item 
			a.phone-btn(href="#") 
				i
				span + 971 56 115 16 24
		.menu-footer-item
			a.btn-header.btn.btn--yellow.element-btn(data-element="1" href="#") Перезвонить мне
		.menu-footer-item.social-default
			a.whatsapp-btn(href="") 
				i 
				span WhatsApp
			+social(["fc","i"])
