+popup-template(0, 'menu-hamburger')
	.menu-mobile
		nav.popup-nav
			ul.ln
					li 
						a(href="#") Главная
						
					li 
						a(href="#") Услуги

					li 
						a(href="#") О компании
							i
						ul 
							li 
								a.back-link(href="#") О компании
									i
							li 
								a(href="#") О компании
							li 
								a(href="#") Блог

					li 
						a(href="#") Отзывы
					li 
						a(href="#") Контакты
		.search-main 
			input.input-search(type="text" placeholder="Поиск")
			.search-ico
		.menu-footer
			.menu-footer-item 
				a.phone-btn(href="#") 
					i
					span + 971 56 115 16 24
			.menu-footer-item
				a.btn-header.btn.btn--blue.element-btn(data-element="1" href="#") Перезвонить мне
			.menu-footer-item.social-default
				a.whatsapp-btn(href="") 
					i 
					span WhatsApp
				+social(["fc","i"])
