head
	meta(
		charset="UTF-8"
	)
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	)

	link(href="/css/ion.rangeSlider.css"	type="text/css"	rel="stylesheet")
	link(href="/css/lightslider.css"	type="text/css"	rel="stylesheet")
	link(href="/css/lightbox.css"	type="text/css"	rel="stylesheet")
	link(href="/css/air-datepicker.css"	type="text/css"	rel="stylesheet")
	link(href="/front/theme-style.css"	type="text/css"	rel="stylesheet")



	script(	src='/js/jquery-3.6.0.min.js' defer)
	script(	src='/js/air-datepicker.js' defer)
	script(	src='/js/ion.rangeSlider.js' defer)
	script(	src='/js/jquery.mask.js' defer)
	script(	src='/js/lightslider.js' defer)
	script(	src='/js/lightbox.js' defer)
	script(	src='https://api-maps.yandex.ru/2.1/?fced5e55-2779-4df7-8baf-39cc561448b5&lang=ru_RU' defer)
	script(	src='/js/map.js' defer)
	script(	src='/front/common-dist.js' defer) 

// range slider
// calendar input