head
	meta(
		charset="UTF-8"
	)
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	)

	link(href="/css/owl.carousel.css"	type="text/css"	rel="stylesheet")
	link(href="/css/ion.rangeSlider.css"	type="text/css"	rel="stylesheet")
	link(href="/css/lightslider.css"	type="text/css"	rel="stylesheet")
	link(href="/css/air-datepicker.css"	type="text/css"	rel="stylesheet")
	link(href="/css/style.css"	type="text/css"	rel="stylesheet")


	script(	src='/js/sourse/other-js/jquery-3.6.0.min.js' defer)
	script(	src='/js/sourse/other-js/air-datepicker.js' defer)
	script(	src='/js/sourse/other-js/ion.rangeSlider.js' defer)
	script(	src='/js/sourse/other-js/jquery.mask.js' defer)
	script(	src='/js/sourse/other-js/lightslider.js' defer)
	script(	src='/js/common-dist.js' defer) 