include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Page')
			h1 Аккаунт

		.main-grid 
			.col-3
				include parts/sidebar


			.col-9
				.form.main-grid
					.col-3
						.input-box
							label Фото профиля
							.input-photo
								+inputFile(0, 'Выбрать фото',)   
								.input-file-user
					.col-9
						.input-box
							label Ваше имя*
							+inputText('Имя','require')
						.input-box
							label Телефон
							+inputPhone('Телефон', 'require')
						.input-box
							label Email
							+inputEmail('Email')
					.col-12
						.input-box
							label О себе
							+inputTextarea('Описание')

					+inputSubmit('Сохранить', 'btn--blue', 'col-12')
		.section-stub
	// footer start 
		
	include ../../blocks/footer

	// footer end 