include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Page')
			h1 Аккаунт

		.main-grid 
			.col-3
				include parts/sidebar


			.col-9
				.input-box
					label Название записи*
					+inputText('Имя','require')
				.input-box
					label Фото
					+dragdropZone(false, 3)
				.input-box
					label Телефон
					+inputPhone('Телефон', 'require')
				.input-box
					label Email
					+inputEmail('Email')
				.input-box
					label Описание
					+inputTextarea('Описание')
				.input-box
					+inputSubmit('Сохранить', 'btn--blue', 'col-12')
		.section-stub
	// footer start 
		
	include ../../blocks/footer

	// footer end 