include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			//- +breadcrumbs('Page')
			h1 Авторизация
		
			.reg-btn-container
				.input-box
					.btn.btn-reg.google-reg-btn
						i 
						span Войти через google
				.input-box
					.btn.btn-reg.vk-reg-btn
						i 
						span Войти через vk
				.input-box
					.btn.btn-reg.mail-reg-btn
						i 
						span Войти через почту
				.input-box
					.btn.btn-reg.phone-reg-btn
						i 
						span Войти по номеру телефона
	// footer start 
		
	include ../../blocks/footer

	// footer end 