include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			//- +breadcrumbs('Page')
			h1 Забыли пароль ?
		
			.form-default
				.form-hint 
					p Укажите и подтвердите ваш e-mail адрес для аккаунта.
					p В ближайшее время Вы получите на указаннный e-mail адрес ссылку для создания нового пароля.
				.form
					.input-box
						label Почта
						+inputIcon("Логин", false, 'mail-ico')  
					.input-box
						+inputSubmit('Войти', 'btn--blue', 'col-12')

		.section-stub
	// footer start 
		
	include ../../blocks/footer

	// footer end 