include ../../default/build-header
	include ../../blocks/header
	.stub
	//- +roofContent("Lorem impusm")
	.content
		.main-full
			+breadcrumbs('Link')
			h1 Site is started
		include ../detail/roof.pug
		
		.main-grid.news-main
			.col-6
				.thumb-container
					.thumb-slider
						li.default-slider-item(data-thumb="/images/temp/1.jpg" data-src="/images/temp/1.jpg")
							img(src="/images/temp/1.jpg",  alt="")
						li.default-slider-item(data-thumb="/images/temp/2.jpg" data-src="/images/temp/2.jpg")
							img(src="/images/temp/2.jpg", alt="")
						li.default-slider-item(data-thumb="/images/temp/3.jpg" data-src="/images/temp/3.jpg")
							img(src="/images/temp/3.jpg", alt="")
						li.default-slider-item(data-thumb="/images/temp/4.jpg" data-src="/images/temp/4.jpg")
							img(src="/images/temp/4.jpg", alt="")
			.col-6
				p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam molestias sunt similique eveniet! Quos eius doloremque mollitia, id magnam error obcaecati iste sequi commodi enim rem illo. Modi, possimus itaque!
				.detail-links
					.tags
						a.tag(href="#") News 
						a.tag(href="#") Last 
						a.tag(href="#") Custom 
					.social 
						+social(["v","y","g","tl","i","wz","fc",])
		include ../detail/tabs.pug
		include ../detail/news-last.pug
		include ../detail/reviews.pug 
		include ../detail/comments.pug 
	.stub
	include ../../blocks/footer