include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			.about
				.about-img
					h1 About
				.about-text  Разработка всего, сайты, магазины, приложения, сервисы.

	// footer start 
		
	include ../blocks/footer

