include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Link')
			h1 Контакты

		.contacts-info.main-grid
			.contacts-item.col-3.col-xs-12
				h3 
					.marker-ico
					span Aдрес
				span 
					|123298, г. москва, 3-я хорошевская улица дом 18, корпус 1, офис 311     
			
			.contacts-item.col-3.col-xs-12
				h3 Режим работы:
				span
					div вс-чт: 12:00 - 00:00
					div пт-сб: 12:00 - 02:00
			.contacts-item.col-3.col-xs-12
				h3 Телефоны:
				span
					div
						a(href="#") 8 (495) 114-54-77
					div
						a(href="#") 8 (495) 114-54-77
			.contacts-item.col-3.col-xs-12
				h3 Почта:
				a(href="mailto:mail@mail.ru") mail@mail.ru

		.main-grid.contacts-info-container
			.col-12
				include ../blocks/map
		//- include ../../blocks/feedback/feedback.pug
		// contacts page content end

	// footer start 


	include ../blocks/footer

	// footer end 