include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Контакты')
			h1 Контакты

		include detail/contacts

	// footer start 

	include ../blocks/footer

	// footer end 