include ../default/build-header
	.main-full
		| header
	.main-full
		+breadcrumbs('Link')
		h1 Detail
	//- include default/advantages.pug
	.section-stub
	include detail/tabs.pug
	include detail/blog-last.pug
	include detail/reviews.pug 
