include ../default/build-header
	.main-full
		| header
	.main-full
		+breadcrumbs('Link')
		h1 Detail
	include default/advantages-detail.pug
	.section-stub
	include default/tabs.pug
	include default/blog-last.pug
	include default/partners.pug
	include default/reviews.pug 
	include default/banner.pug  