include ../default/build-header
	include ../blocks/header
	include home/main.pug
	include home/advantages.pug
	.section-stub
	include home/banner.pug

	include home/news.pug
	include home/products.pug
	include home/partners.pug
	.stub
	include ../blocks/footer