include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	include home/main
	include home/services
	include home/advantages
	.section-stub
	include home/banner

	include home/news
	include home/products
	include home/partners
	include home/faq
	include home/contacts
	.stub-section 
	include home/feedback
	.stub-section
	include ../blocks/footer