include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Page')
			h1 Page

		.main-full
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis odio suscipit, exercitationem id possimus facere maiores ipsa deleniti, consequatur soluta commodi velit quidem sapiente neque delectus, nostrum voluptate aspernatur?
			img(src="/images/temp/1.jpg", alt="")
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis odio suscipit, exercitationem id possimus facere maiores ipsa deleniti, consequatur soluta commodi velit quidem sapiente neque delectus, nostrum voluptate aspernatur?
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis odio suscipit, exercitationem id possimus facere maiores ipsa deleniti, consequatur soluta commodi velit quidem sapiente neque delectus, nostrum voluptate aspernatur?
		.section-stub
	// footer start 
		
	include ../blocks/footer

	// footer end 