include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			.page-404
				.page-404-img 
					h1 404
				.page-404-text  Извините, такой страницы нет на сайте. Возможно, вы ввели неправильный адрес, или страница была удалена.
				.btn-container 
					a.btn.btn--orange(href="/") На главную
	// footer start 
		
	include ../blocks/footer

