include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Page')
			h1 Page
		.main-full
			.search-form-container
				form.search-form
					+search()
					submit.btn.btn--orange Поиск
				.search-form-hint 
					span Совпадение по запросу: 
					b Нов
					//- span По вашему запросу нету совпадений
		.main-full
			+searchItem()
			+searchItem()
			+searchItem()
		.section-stub
	// footer start 
		
	include ../blocks/footer

	// footer end 