.admin-panel
	.likes-btn
		span 4
	.panel-img-container
		.panel-img-account
			.img-cover 
				img(src="/images/temp/avatar-1.jpg", alt="") 
				//- img(src="/images/icons/avatar-black.svg", alt="")
	.logout-btn 
	//- .login-btn