.popup-panel
  .popup-panel-card 
    h3 
      a(href="#") Cards 1
    div
      .delete-btn.delete-btn--circle 
        i
  .popup-panel-card 
    h3 
      a(href="#") Cards 2
    div
      .delete-btn.delete-btn--circle 
        i