section.default-slider 
	.main-full.head-section
		h2.title-section галерея
	.main-full
		.owl-default.owl-carousel 
			-for(var x=0;x<10;x++)
				.owl-default-item.img-cover
					img(src="/images/temp/1.jpg", alt="")