section.detail-content
	.main-grid
		.col-6.col-sm-12.col-xs-12
			h2 Чартерная рыбалка в Дубае
			p Аренда яхт в Дубае — лучшее место для аренды роскошных яхт в Дубае. Мы предлагаем широкий выбор яхт для аренды по разумным ценам, предоставляя посетителям и жителям всего мира изысканный опыт. Если вы ищете лодку напрокат в канун Нового года или хотите совершить круиз по нашему побережью, мы просто упростим аренду яхты в Дубае на канун Нового года.
			img(src="/images/temp/boad/1.jpg", alt="")
			h3 Особенности рыбалки в Дубай
			p Рыбалка в Дубай дает возможность выйти на катере в воды Персидского залива, где обитает множество жителей подводных глубин. Дно в этой местности достаточно рельефное, с множеством впадин и рифов. Именно в таких местах скрываются морские обитатели разных видов и размеров. Один из самых лучших для многих рыбаков уловов – рыба хамур, которую вкусно готовят местные повара. 
			h4 Также можно поймать:
			ul 
				li барабулю;
				li королевскую макрель;
				li имперор;
				li кобию;
				li тунца. 
			p Если рыбачить с натуральной наживкой, на крючок попадается даже акула или рыба-парусник. Некоторые особи достигают двух метров в длину.
		.col-6.col-sm-12.col-xs-12
			img(src="/images/temp/boad/1.jpg", alt="")
			p Путешествие в Дубай можно сравнить с посещением сказки в неповторимом восточном колорите. Но получить еще больше удовольствия от поездки можно, посетив прогулки и экскурсии или какие-либо виды активностей. Для многих рыбалка – это один из лучших способов провести время. Отправившись на катере подальше от берега, Вы сможете насладиться ловлей различной экзотической рыбы.
			img(src="/images/temp/boad/1.jpg", alt="")