section.detail-tabs
	.main-full
		.detail-tabs-nav
			ul.ln
				li.active Спецификация
				li Описание
				li Дополнительные услуги
				li Галерея
				li Правила аренды
			.detail-tabs-carriage
	.main-full
		.detail-tabs-container
			.detail-tabs-item.active 1
			.detail-tabs-item 2
			.detail-tabs-item 3
			.detail-tabs-item 4
			.detail-tabs-item 5