section.socrew-section.owl-home
	.main-full.head-section.owl-home-head
		div
			h2.title-section  Отзывы из социальных сетей
		.btn-container
			a.btn.btn--blue(href="#") Оставить отзыв 
		.stab-arrow
	.main-full.owl-three.owl-carousel
		-for(var x = 0; x < 7; x++)
			.socrew-item 
				.socrew-item-img.img-cover 
					img(src="/images/temp/1.jpg", alt="")
				.add-btn
					i +