section.team-slider
	.main-full.head-section
		h2.title-section 
			| Наша команда
		h3.subtitle-section 
			| Наши специалисты всегда рады предложить яхту на ваш выбор, выбрать для вас отличный круизный маршрут или идеальное место для отдыха, а также предоставить вам всю дополнительную информацию, которая вам понадобится о вашем следующем путешествии.
	.main-full.team-slider-container.owl-team.owl-carousel
			-for(var i = 0; i < 3; i++)
				.team-slider-item
					.team-slider-img.img-cover
						img(src="/images/temp/1.jpg", alt="")
					.team-slider-text-container
						.team-slider-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, vitae! Laborum magni at illo magnam dolor quae velit, mollitia impedit a corrupti explicabo, quos iure tempora rem maxime ipsam esse?