section.videorew-section.owl-home
	.main-full.head-section.owl-home-head
		div
			h2.title-section  видеоотзывы
		.stab-arrow
	.main-full.owl-three.owl-carousel
		-for(var x = 0; x < 7; x++)
			+reviewsItemVideo("Alex But","10/10/10") 