section.comments-section
  .main-full.head-section
    h2 Комментарии
  .main-grid
    .col-6
      h3 Спискок комментариев
      +commentsItem('ALex')
      +commentsItem('Dave')
    .col-6
      h3 Оставьте свой отызыы