.main-grid.contacts-info
  .contacts-item.col-3.col-xs-12
    h3 
      .marker-ico.contacts-ico
      span Aдрес
    .contacts-item-body 
      |123298, г. москва, 3-я хорошевская улица дом 18, корпус 1, офис 311     
  
  .contacts-item.col-3.col-xs-12
    h3 
      .time-ico.contacts-ico
      b Режим работы:
    .contacts-item-body
      div вс-чт: 12:00 - 00:00
      div пт-сб: 12:00 - 02:00
  .contacts-item.col-3.col-xs-12
    h3 
      .phone-ico.contacts-ico
      b Телефоны:
    .contacts-item-body
      div
        a(href="#") 8 (495) 114-54-77
      div
        a(href="#") 8 (495) 114-54-77
  .contacts-item.col-3.col-xs-12
    h3 
      .mail-ico.contacts-ico
      b Почта:
    .contacts-item-body
      a(href="mailto:mail@mail.ru") mail@mail.ru
.main-full.map
  include ../../blocks/map.pug