section.long-slider-section
	.main-full.head-section
		h2 Title h2 
		h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, similique. Dignissimos officia enim et quos cupiditate non iusto laudantium ipsam sequi adipisci! Excepturi ea recusandae ex laudantium ipsa iure voluptatibus?
	.main-full
		.long-slider
			-for(var x=0;x<10;x++)
				.long-slider-item.img-cover
					img(src="/images/temp/1.jpg", alt="")