.main-grid 
  .col-6
    section 
      .thumb-slider-verticale.news-slider
        -for (x=0; x<5;x++)
          li.default-slider-item(data-thumb="/images/temp/1.jpg" data-src="/images/temp/1.jpg")
            img(src="/images/temp/1.jpg",  alt="")
  .col-6