section.num
	.main-full
		h2 Наши яхты откроют вам мир роскоши, развлечений и незабываемого отдыха
	.main-grid
		.col-3
			.num-item 
				i 35+
				span Человек опытного персонала
		.col-3
			.num-item 
				i 500+
				span Довольных клиентов
		.col-3
			.num-item 
				i 15+
				span Яхт доступных для аренды
		.col-3
			.num-item 
				i 28+
				span Индивидуальных услуг