section.feedback-home
	.main-grid
		.col-12
			h2 Заказать
		.col-12.form-default
			.main-grid
				.input-box.col-6.col-xs-12 
					label Ваше имя*
					+inputText('Text','require')
				.input-box.col-6.col-xs-12
					label Номер телефона*
					+inputPhone('Phone', 'require')
				.input-box.col-6.col-xs-12  
					label Номер WhatsApp
					+inputText('WhatsApp')
				.input-box.date-input-container.col-6.col-xs-12  
					label(for="date" ) Дата и время
					+inputDate()
				.input-box.col-12
					+agreement()
				.input-box.col-12
					+inputSubmit('забронировать услугу', 'btn--yellow', 'col-12') 