section.pricelist-section 
	.main-full.head-section
		h2 Прайс-лист
	.main-full
		ul.ln.pricelist-list
			-for(var x=0; x<3; x++)
				li 
					h3 
						span Наименование услуги 62 мин.
						.question-ico
							.question-popup
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo ipsum cupiditate laudantium, eveniet, ab laborum nisi animi esse sed asperiores quis quos, aliquid ad deserunt saepe cum! Rem, explicabo vitae.
					.pricelist-price 800 AED
		.btn-container 
			a.btn.btn--blue-border.whatsapp-btn.whatsapp-btn--large
				i
				span Забронируйте сейчас в WhatsApp
			.btn-hint.
				Или воспользуйтесь <a href="#">формой</a> ниже