.detail-roof
	.main-full
		a(href="#").prev-btn
			i 
			span Назад
		.detail-roof-info
			.detail-roof-info-item
				i.date-ico
				span 10/10/2024
			.detail-roof-info-item 
				i.rewiews-ico
				span 10
			.detail-roof-info-item 
				i.view-ico
				span 99
		a(href="#").next-btn
			span Дальше
			i