include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Services detail')

		.services-main
			.main-grid 
				.col-5.col-md-6.col-sm-8.col-xs-12.services-main-info 
					.services-main-info-container
						.services-main-price  от 850 AED/услуга
						h1 Разработка сайтов и веб-сервисов
						.services-main-text  Разработка сайтов в Дубае — лучшее место для создания уникальных и современных веб-проектов. Мы предлагаем разнообразные услуги по разработке сайтов по разумным ценам, обеспечивая клиентам из разных уголков мира инновационный и стильный онлайн-опыт.
						.btn-container 
							a.btn.btn--blue(href="#") Заказать услугу
			.services-main-img-container
				video(autoplay="true" loop="true")
					source(src="/images/serv-1.mp4")
				img(src="/images/temp/web.svg", alt="")
		+tabs(['Прайс','Stage','Video'], 'tabs-sticky')
		.tabs-point-1
		include ../detail/pricelist

		include ../detail/long-slider

		.section-stub
		.tabs-point-2
		include ../detail/stage

		.section-stub

		include ../detail/simple
		.tabs-point-3
		include ../detail/video


		.section-stub
	// footer start 
		
	include ../../blocks/footer

	// footer end 