mixin pagination()
	// pagination-component start
	.pagination
		a(href="#").prev.disabled Назад
		span.selected 1
		a(href="#") 2 
		a(href="#") 3 
		a(href="#").pagination-dotted ...
		a(href="#") 20
		a.next(href="#") Вперед
	// pagination-component start