mixin social(val, className)
  .social(class=className)
    - for (var i=0; i<val.length; i++)
        case val[i]
          when 'v'
            a(href="#")
              img(src="/images/social/vk-black.svg", alt="")
              img.ico-hover(src="/images/social/vk-white.svg", alt="")
          when 'y'
            a(href="#")
              img(src="/images/social/youtube-black.svg", alt="")
              img.ico-hover(src="/images/social/youtube-white.svg", alt="")
          when 'g'
            a(href="#")
              img(src="/images/social/google-black.svg", alt="")
              img.ico-hover(src="/images/social/google-white.svg", alt="")
          when 'tl'
            a(href="#")
              img(src="/images/social/telegram-black.svg", alt="")
              img.ico-hover(src="/images/social/telegram-white.svg", alt="")
          when 'i'
            a(href="#")
              img(src="/images/social/instagram-black.svg", alt="")
              img.ico-hover(src="/images/social/instagram-white.svg", alt="")
          when 'wz'
            a(href="#")
              img(src="/images/social/whatsapp-black.svg", alt="")
              img.ico-hover(src="/images/social/whatsapp-white.svg", alt="")
          when 'fc'
            a(href="#")
              img(src="/images/social/facebook-black.svg", alt="")
              img.ico-hover(src="/images/social/facebook-white.svg", alt="")
