include ../../default/build-header
section
	.main-full
		.head-section
			h2 Half slider
	.main-full
		.half-slider
			-for(i=0;i<4;i++)
				.half-slider-item
					.half-slider-img
						.img-cover 
							img(src="/images/temp/1.jpg", alt="")
					.half-slider-description
						.half-slider-vertical
							h2 О нас
							.half-slider-text 
								| Уже более 10 лет LSB-charter предоставляет в аренду яхты и катера от самых известных производителей мира. За эти годы мы сформировали команду отличных специалистов и зарекомендовали себя, как одна из самых лучших чартерных компаний в Дубае.
