doctype html
html
	// head start
	include ../default/head.pug 
	// head end
	include ../components/connect-mixins.pug  
	body
	.stub
	.main-full
		h2 blog items 
	.main-grid 
		.col-4 
			+blogItem('test', 'test', '11.11.11')
