doctype html
include ../default/build-header
	.stub
	.main-full
		h1 Footer
	.content
		.main-full
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque eligendi repellendus eum voluptates recusandae temporibus voluptate minus nesciunt aliquid quaerat, suscipit earum, voluptatem tempora accusantium possimus maxime nulla accusamus?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque eligendi repellendus eum voluptates recusandae temporibus voluptate minus nesciunt aliquid quaerat, suscipit earum, voluptatem tempora accusantium possimus maxime nulla accusamus?
	include ../blocks/footer.pug