include ../default/build-header
section
  .main-full
    .head-section 
      h2 Title
      h3 Subtitle 
        a(href="#") Link 
  .main-grid
    .col-4 col
    .col-4 col
    .col-4 col
  .main-full
    .btn-container-section
      a(href="#").btn.btn--blue Btn
section
  .main-full
    .head-section 
      h2 Title
      h3 Subtitle 
        a(href="#") Link 
  .main-grid
    .col-4 col
    .col-4 col
    .col-4 col
  .main-full
    .btn-container-section
      a(href="#").btn.btn--blue Btn