include ../default/build-header
section
  .main-full
    .head-section 
      h2 Slider default
    section 
      .main-slider
        .main-slider-item 
          img(src="/images/temp/1.jpg", alt="")
        .main-slider-item 
          img(src="/images/temp/3.jpg", alt="")
        .main-slider-item 
          img(src="/images/temp/4.jpg", alt="")
        .main-slider-item 
          img(src="/images/temp/1.jpg", alt="")
