include ../default/build-header
section
  .main-full
    .head-section 
      h2 Slider default
section
  .tiny-slider 
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")

section
  .main-full
    .head-section 
      h2 Slider verticale
section 
  .tiny-slider-verticale
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
section
  .main-full
    .head-section 
      h2 Slider thumb
section 
  .tiny-slider-thumb
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
  .tiny-slider-thumb-in
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")
    div 
      img(src="/images/temp/1.jpg", alt="")
    div 
      img(src="/images/temp/3.jpg", alt="")
    div 
      img(src="/images/temp/4.jpg", alt="")