include ../default/build-header
section
  .main-full
    .head-section 
      h2 Slider default
    section 
      .default-slider
        .default-slider-item 
          img(src="/images/temp/1.jpg", alt="")
        .default-slider-item 
          img(src="/images/temp/3.jpg", alt="")
        .default-slider-item 
          img(src="/images/temp/4.jpg", alt="")
        .default-slider-item 
          img(src="/images/temp/1.jpg", alt="")
