include ../default/build-header
section
	.main-full
		.head-section 
			h2 Half slider
section.slider-half
	.default-slider
		-for(i=0;i<4;i++)
			.slider-half-item
				.slider-half-img
					.img-cover 
						img(src="/images/temp/1.jpg", alt="")
				.slider-half-description
					.slider-half-container
						h2 О нас
						.slider-half-text Уже более 10 лет LSB-charter предоставляет в аренду яхты и катера от самых известных производителей мира. За эти годы мы сформировали команду отличных специалистов и зарекомендовали себя, как одна из самых лучших чартерных компаний в Дубае.
						.arrow-stub