include ../default/build-header
section
  .main-full
      h1 Title h1
      h2 Title h2
      h3 Title h3
      h4 Title h4
      h5 Title h5
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam soluta quasi totam, odio fugiat commodi. Nobis repellendus commodi modi ullam iusto labore eveniet officiis iure molestias perferendis, nostrum explicabo cupiditate!