$icoSize: 24px
$icoOffset: 8px

.close-btn
	@include icoEl($icoSize, $icoSize, "../images/icons/close-black.svg")
	cursor: pointer
	&:hover
		background-image: url("../images/icons/close-gray.svg")

.hamburger-btn
	@include icoEl($icoSize, $icoSize, "../images/icons/hamburger-black.svg", middle, contain, center right)
	cursor: pointer
	&:hover
		background-image: url("../images/icons/hamburger-gray.svg")

.whatsapp-btn
	border-color: $blackColor
	i,span
		display: inline-block
		vertical-align: middle
	i
		@include icoEl($icoSize, $icoSize, "../images/social/whatsapp-black.svg")
		margin-right: $icoOffset

.phone-btn
	border-color: $blackColor
	i,span
		display: inline-block
		vertical-align: middle
	i
		@include icoEl($icoSize, $icoSize, "../images/icons/phone-black.svg")
		margin-right: $icoOffset

.ico-in
	border-color: $blackColor
	i,span
		vertical-align: middle
		display: inline-block
	i
		width: $icoSize
		height: $icoSize
		position: relative
	img
		@include positionElement(100%,100%)

	.back-ico
		visibility: hidden
	.front-ico

	&.active,
	&:hover
		text-decoration: none

		.back-ico
			visibility: visible
		.front-ico
			visibility: hidden
.ico-in--right
	i
		margin-left: $icoOffset
.ico-in--left
	i
		margin-right: $icoOffset
// .video-btn
// 	cursor: pointer
// 	span
// 		border-radius: 100%
// 		@include positionElement(76px, 76px, 50%, 50%)
// 		transform: translateX(-50%) translateY(-50%)
// 		border: 2px solid $yellowColor
// 		transition: ease-out 0.5s
// 	i
// 		border-radius: 100%
// 		@include positionElement(54px, 54px, 50%, 50%)
// 		transform: translateX(-50%) translateY(-50%)
// 		background-color: $yellowColor
// 		@include bgImageEl("../images/icons/play-white.svg", 15px, 22px)
// 		transition: ease-out 0.5s
// 	&:hover
// 		span
// 			width: 80px
// 			height: 80px
// 		i
// 			width: 50px
// 			height: 50px
// 			background-position: 19px
