.tag
  background-color: $grayColor
  color: $whiteColor
  font-weight: 600
  border-radius: 30px
  display: inline-block
  padding: 0 14px
  margin: 0 8px 15px 0
  text-decoration: none
.link
  font-weight: 700
  font-size: $standartSize
  color: $greenColor
  &:hover
    color: $orangeColor
.phone-ico
  @include icoEl(18px, 22px, '../images/icons/phone-black.svg')
.mail-ico
  @include icoEl(18px, 20px, '../images/icons/mail-black.svg')
.marker-ico
  @include icoEl(20px, 16px, '../images/icons/marker-black.svg')
