section.advantages
	.main-full.head-section
		h2
			| Наши преимущества
	.main-grid
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 1','/images/temp/adv/1.svg')
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 2','/images/temp/adv/2.svg')
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 3','/images/temp/adv/3.svg')
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 4','/images/temp/adv/4.svg')
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 5','/images/temp/adv/5.svg')
		.col-4.col-md-6.col-xs-12
			+advantagesItem('advantages 6','/images/temp/adv/6.svg') 