section.advantages
	.main-full.head-section
		h2
			| Наши преимущества
	.main-grid
		.col-4
			+advantagesItem('Собственный флот','/images/temp/adv/1.svg')
		.col-4
			+advantagesItem('Лучшие яхты','/images/temp/adv/2.svg')
		.col-4
			+advantagesItem('Индивидуальные туры','/images/temp/adv/3.svg')
		.col-4
			+advantagesItem('Команда профессионалов','/images/temp/adv/4.svg')
		.col-4
			+advantagesItem('Страхование','/images/temp/adv/5.svg')
		.col-4
			+advantagesItem('Страхование','/images/temp/adv/5.svg')