section.banner
  .main-grid 
    .col-3.col-xs-12
      .img-container
        img(src="/images/temp/adv/1.svg", alt="")
    .col-9.col-xs-12
      h3 Если вы все еще испытываете трудности с разработкой сайта – обращайтесь в Hungry Panda Develop
      .banner-text Наши эксперты проведут консультацию с вами и помогут создать веб-сайт в Дубае, идеально соответствующий вашим требованиям и возможностям.
      a.btn.btn--gold(href="#") получить консультацию