section.feedback-home
	.main-grid
		.col-5.col-md-12
			h2 Бесплатная консультация
			.feedback-text.
				Свяжитесь с нами по телефону <a href="#">+971 56 115 16 24</a>, <a href="#">WhatsApp</a> или заполните эту контактную форму, и мы свяжемся с Вами в ближайшее время
		.col-7.col-md-12.form-default
			.main-grid
				.input-box.col-6.col-xs-12
					label Ваше имя 
					+inputText('Text','require')
				.input-box.col-6.col-xs-12
					label Ваш телефон
					+inputPhone('Phone', 'require')
				.input-box.col-12
					label Ваше сообщение
					+inputTextarea('Message')
				.input-box.col-12
					+agreement()
				.input-box.col-12
					+inputSubmit('Отправить сообщение', 'btn--orange', 'col-12')