.stub
.main-home
	//- .main-home-img.img-cover
	//- 	img(src="/images/main-bg.jpg", alt="")
	.main-home-video
		video(width="480" loop autoplay muted playsinline)
			source(src="/images/video-main.mp4" type="video/mp4"  )
	.main-home-content.main-full
		.main-home-info
			h2 LUXURY SEA BOATS
			h1 Аренда яхт в Дубае
		.home-banner 
			i
			span Получить консультацию
		.scroll-home-container
			.scroll-home