.stub
.main-home
	.main-home-img.img-cover
		img(src="/images/temp/1.jpg", alt="")
	//- .main-home-video
	//- 	video(width="480" loop autoplay muted playsinline)
	//- 		source(src="/images/temp/video-main.mp4" type="video/mp4"  )
	.main-home-content.main-full
		.main-home-info
			h2 Luxe Panda Template
			h1 Create Site With Hungry Panda Develop
		.btn-container
			.btn.btn--orange Получить консультацию
		.scroll-home-container
			.scroll-home