section.partners
  .main-full.head-section
    h2 Партнеры
  .main-full
    .partners-slider
      -for (var i=1; i < 12; i++)
        div
          .partners-item 
            img(src="/images/temp/partner.svg", alt="")