section.services-home
	.main-full.head-section
		h2
			| Дополнительные услуги
	.main-grid
		.col-3.col-md-6.col-xs-12
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-3.col-md-6.col-xs-12
			+servicesItem('Оформление яхты','от 850 AED/час','/images/temp/serv/2.jpg')
		.col-6.col-md-12.col-xs-12
			+servicesItem('Wake Dubai','от 850 AED/час','/images/temp/serv/3.jpg')
		.col-6.col-md-6.col-xs-12
			+servicesItem('Активные развлечения на воде','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-3.col-md-6.col-xs-12
			+servicesItem('рыбалка на яхте','от 850 AED/час','/images/temp/serv/2.jpg')
		.col-3.col-md-12.col-xs-12
			+servicesItem('Гриль для готовки свежепойманной рыбы','от 850 AED/час','/images/temp/serv/3.jpg')
