.product-detail-about.main-grid
	.col-3
		.product-detail-price.vertical-align
			span 1 850 AED/час
	.col-5
		.product-detail-adv
			.product-adv-icons 
				.product-adv-img
					img(src="/images/temp/adv//1.svg", alt="")
				span 
					|18,9 м.(62 ft.)
			.product-adv-icons 
				.product-adv-img
					img(src="/images/temp/adv/2.svg", alt="")
				span 
					|29 гостей 
			.product-adv-icons 
				.product-adv-img
					img(src="/images/temp/adv/3.svg", alt="")
				span 
					|3 человека
			.product-adv-icons 
				.product-adv-img
					img(src="/images/temp/adv/4.svg", alt="")
				span 
					|3 каюты
	.col-4
		.product-detail-controls.vertical-align
			.btn-container
				a.liked-btn(href="#") 
				a.btn.btn--black-border(href="#") Забронировать 
				a.btn.btn--blue-border(href="#") Задать вопрос
				a.phone-btn(href="#")
					i
				a.whatsapp-btn(href="#")
					i
