.catalog-sorting-container
	.catalog-sort 
		b Сортировать по:
		+inputSelect('год постройки: по уменьшению', ['селект 1','селект 2','селект 3','селект 4','селект 5',],'sort-select')

	.catalog-view 
		.tile-catalog-btn.active
		.line-catalog-btn
		.sidebar-btn.sidebar-show-js