section.tabs
	+tabs(['Спецификация','Описание','Галерея'], 'tabs-choise')
		.tabs-container.tabs-choise.main-full
			.tabs-item.active
				include tabs-item-1.pug
			.tabs-item
				include tabs-item-2.pug
			.tabs-item
				include tabs-item-3.pug
