.main-grid
  .col-3.col-xs-12
    +characteristicItem('/images/temp/adv/1.svg', 'Azimut, Италия', 'Azimut, Италия')
  .col-3.col-xs-12
    +characteristicItem('/images/temp/adv/2.svg', 'Azimut, Италия', 'Azimut, Италия')
  .col-3.col-xs-12
    +characteristicItem('/images/temp/adv/3.svg', 'Azimut, Италия', 'Azimut, Италия')
  .col-3.col-xs-12
    +characteristicItem('/images/temp/adv/4.svg', 'Azimut, Италия', 'Azimut, Италия')