.menu-hamburger
	.popup-container
		background-color: $whiteColor
		width: 50%
		height: 100%
		max-width: 460px
		margin: 0
		margin-left: auto
		color: $blackColor
		display: flex
		flex-direction: column
		border-radius: 0px
		padding: 45px 30px 60px
		overflow-y: auto
	.social
		margin-bottom: 30px
.popup-nav
	margin-bottom: 45px
	li
		margin-bottom: 15px
	a
		font-size: $largeSize
		color: $blueColor
		text-decoration: none
		&:hover
			color: $goldColor
