mixin commentsItem(name)
  .comments-item
    .comments-head
      div 
        .comments-name 
          =name
        .comments-date 10.10.10
      .comments-grade 
        span Оценка:
        b 5
    .comments-item-body
      .comments-img.img-cover 
        img(src="/images/temp/avatar-1.jpg", alt="")
      .comments-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit inventore voluptate nemo, temporibus earum, in, voluptatum ratione iste consequatur delectus vero? Adipisci nisi voluptates assumenda consequuntur cupiditate reiciendis dolore vitae?
