mixin productItem(name, text, data, info)
	.product-item
		.product-item-img
			.product-item-cover.img-cover
				img(src="/images/temp/product/1.jpg", alt="")
			.product-item-liked
		.product-item-info 
			h3
				a(href="#")=name
			if (!info)
				ul.ln.product-item-description
					li
						b Описание:
						div Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto hic voluptate repudiandae nam. Ut magni dolorum quod quidem esse corrupti id porro rem perspiciatis, placeat impedit non aspernatur incidunt illo!

			.product-item-price=text
			.product-item-adv
				.product-adv-icons 
					.product-adv-icon.product-adv-icon-1
					span 
						|18,9 м.(62 ft.)
				.product-adv-icons 
					.product-adv-icon.product-adv-icon-2
					span 
						|29 ipsum 
				.product-adv-icons 
					.product-adv-icon.product-adv-icon-3
					span 
						|3 elit
				.product-adv-icons 
					.product-adv-icon.product-adv-icon-4
					span 
						|3 esse 
			.btn-product-container
				a(href="#").btn.btn--blue Забронировать
				a(href="#").btn.btn--blue-border Подробнее