mixin reviewsItem(name,data)
		.reviews-item
			.reviews-text 
				| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod laboriosam consequatur voluptatibus ducimus quas, eius minima accusamus modi porro quidem illo architecto dolore nam unde laborum ipsum, placeat quasi!
			.reviews-info
				.reviews-img.img-cover
					img(src="/images/temp/avatar-1.jpg", alt="")
				h2= name