mixin searchItem(name, text, data)
	.search-item 
		.search-item-head
			h3 
				a(href="#") News 1
			h4 
				span Категория:
				a(href="#") Новости 
		.search-item-content 
			| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates tempora quibusdam natus laudantium commodi nemo repudiandae culpa numquam earum dolore, perspiciatis nihil itaque, magnam id deleniti voluptatibus architecto. Commodi, harum?
