mixin teamItem(name,subname)
		.team-item
			.team-item-img.img-cover
				img(src="/images/temp/avatar-1.jpg", alt="")
			h4= name
			h3= subname
			.team-item-text 
				| Lorem, ipsum dolor sit amet consectetur 
		