.search-section
  padding: 60px 0 150px
  background-color: $blueColor
  overflow: visible
  .img-cover
    opacity: 0.5
  h2
    text-align: center
    position: relative
    color: $whiteColor
    margin: 0 0 30px
