section.advantages-detail
	.main-full.head-section
		h2
			| Наши преимущества
	.main-grid
		.col-4.col-sm-6
			+advantagesItem('Собственный флот','/images/temp/adv/1.svg')
		.col-4.col-sm-6.advantages-item-extra-3
			+advantagesItem('Лучшие яхты','/images/temp/adv/2.svg')
		.col-4.advantages-item-extra-1.col-sm-6
			+advantagesItem('Индивидуальные туры','/images/temp/adv/3.svg')
		.col-2.hidden-sm.hidden-xs
		.col-4.col-sm-6.advantages-item-extra-4
			+advantagesItem('Команда профессионалов','/images/temp/adv/4.svg')
		.col-4.advantages-item-extra-2.col-sm-12
			+advantagesItem('Страхование','/images/temp/adv/5.svg')