section.banner
  .main-grid 
    .col-3.col-xs-12
      .img-container
        img(src="/images/temp/adv/1.svg", alt="")
    .col-9.col-xs-12
      h3 Если вы все еще испытываете трудности с выбором яхты для ваших планов – обращайтесь в LSB Charter
      .banner-text Наши специалисты проконсультируют вас и помогут арендовать в дубае яхту, идеально соответствующую вашим пожеланиям и возможностям.
      a.btn.btn--gold(href="#") получить консультацию