section.tabs
	.main-full
		.tabs-nav
			ul.ln
				li.active Спецификация
				li Описание
				li Дополнительные услуги
				li Галерея
				li Правила аренды
			.tabs-carriage
	.main-full
		.tabs-container
			.tabs-item.active test 1
			.tabs-item test 2
			.tabs-item test 3
			.tabs-item test 4
			.tabs-item test 5