
$gridCount: 12
$indent: 15px
$maxWidth: 1280px
$gap: 30px

.main-grid
	display: grid
	grid-template-columns: repeat($gridCount, 1fr)
	gap: $gap
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto
	position: relative

.main-full
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto

section
	padding: 75px 0 0px
	position: relative
	overflow: hidden

.stub-section
	height: 90px

.head-section
	margin-bottom: 30px

	h3
		font-size: $mediumSize
		color: $grayDarkColor
		font-weight: 500
		a
			color: $goldColor
			text-decoration: none
			&:hover
				text-decoration: underline

.btn-container-section
	padding: 40px 0 0px
	text-align: center
	.btn
		width: 260px

.breadcrumbs
	font-size: $smallSize
	margin: 15px 0 10px
	padding: 0 8px
	color: $grayColor
	position: relative
	z-index: 2
	background-color: $whiteColor
	border-radius: 15px
	display: inline-block
	em
		font-size: 0
		margin-left: 5px
		@include icoEl(20px, 20px, "../images/arrows/carret-right-gray.svg", middle, 130%)
		vertical-align: middle
	a
		text-decoration: none
		color: $blackColor
		vertical-align: middle
		&:hover
			text-decoration: underline
	span
		vertical-align: middle
		margin: 0 5px
		&:first-child
			margin-left: 0
.content
	position: relative
	min-height: calc(100vh - 130px)
	h1
		padding: 10px 0 30px
		color: $blueColor
.section-stub
	height: 60px
$offset: 90px
.slider-section
	padding-bottom: 56px
	.lSSlideOuter
		padding-top: $offset
		margin-top: -1 * $offset
	.lSSlideWrapper
		overflow: visible
	.lSAction
		width: 110px
		top: -1 * $offset
		left: auto
		right: 0px
	.lSPrev, .lSNext
		margin: 0
		transform: translateY(0%)
	.head-section
		display: flex
	h2,
	h3
		text-align: left
		margin: 0
	h2
		display: flex
		span
			display: inline-block
			margin: auto 0
	.btn
		width: 270px
	.btn-container
		margin: auto
		margin-right: 0
	.stab-arrow
		width: 140px
