include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			+breadcrumbs('Azimut 62 Lucky Star Lucky Star')
			h1 Azimut 62 Lucky Star Lucky Star
		.product-main-detail
			.product-detail-img.img-cover 
				img(src="/images/temp/1.jpg", alt="")
				.topic-stub 
			.product-detail-gallery
				.product-gallery-item.img-cover 
					img(src="/images/temp/2.jpg", alt="")
				.product-gallery-item.img-cover 
					img(src="/images/temp/3.jpg", alt="")
				.product-gallery-item.img-cover 
					img(src="/images/temp/4.jpg", alt="")
				.product-gallery-item.img-cover 
					img(src="/images/temp/5.jpg", alt="")
include parts/detail-about.pug
include parts/tabs.pug
.section-stub
include ../detail/order.pug

include ../home/products.pug	 
.section-stub
include ../detail/num.pug	
include ../detail/reviews.pug

//- include ../home/blog.pug
// footer start 
.section-stub
include ../../blocks/footer.pug

// footer end    